@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>It's a banking app!</p>
<ol>
    <li>Create a new account.</li>
    <li>Log in</li>
    <li>Record a deposit</li>
    <li>Record a withdrawal</li>
    <li>See transaction history</li>
    <li>Logout</li>
</ol>

<p>
    This project was developed in response to a request for a code sample for Company 'X'.
    The homework was to create a banking application with a backend implemented in C#.
    The task did not require implementing a front end (a CLI would have been sufficient).
    But since I had not worked with asp.net before or played around with database frameworks at all really,
    I thought I might learn something by playing around with the asp.net core framework.
    I think it still checks all the boxes of the requirements as well.
</p>

<p>
    This app demonstrates basic operations of opening an account, logging in, checking balance, making a deposit or withdrawal, checking transaction
    history and logging out. Additionally you can update user information or delete accounts.
</p>

<p>
    I kept the Schema as simple as possible. 
    Some separation of tables was necessary to store user info and password separately.
    All data is accessed and updated through the Customer entity.
</p>

<p>
    If you would like to know more about this project, comment, or make suggestions I'd be happy to discuss.
    Click contact info at the top if you are interested.
</p>



