@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>It's a banking app!</p>
<ol>
    <li>Create a new account.</li>
    <li>Log in</li>
    <li>Record a deposit</li>
    <li>Record a withdrawal</li>
    <li>See transaction history</li>
    <li>Logout</li>
</ol>
