@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    405 SE 30th PL<br />
    Portland, OR 97214<br />
    <abbr title="Phone">P:</abbr>
    503.956.6614
</address>

<address>
    <strong>Email:</strong> <a href="mailto:nathan.amery.reed@gmail.com">nathan.amery.reed@gmail.com</a><br />
</address>
