@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the banking app where you can do your banking</h2>
        <p>
            The links in the navbar will take you where you need to go to ...
            <br /><b>- Create an Account</b>
            <br /><b>- Login</b>
            <br /><b>- Check your Balance</b>
            <br /><b>- Make a Transaction (Deposit, Withdrawal)</b>
            <br /><b>- See your transaction History</b>
            <br /><b>- Log out</b>
        </p>
    </div>
</div>